<div class="container-fluid justify-content-start">
  <div class="row">
    <div class="">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object user-avatar" src="">
        </a>
        <div class="media-body">
          <h5>Username</h5>
          <h6>3 492</h6>
          <h6>23 492</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="list-group flex-md-column">
        <a class="list-group-item list-group-item-action" href="#" data-toggle="tab">Singlepayer</a>
        <a class="list-group-item list-group-item-action" href="#" data-toggle="tab">Multiplayer</a>
        <a class="list-group-item list-group-item-action" href="#" data-toggle="tab">Rankings</a>
        <a class="list-group-item list-group-item-action" href="#" data-toggle="tab">Stats</a>
        <a class="list-group-item list-group-item-action active" href="#" data-toggle="tab">Settings</a>
        <a class="list-group-item list-group-item-action" href="#" data-toggle="tab">Log out</a>
      </div>
    </div>
  </div>
</div>

