/* .form-container{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #000
}

.form-control{
  margin: 10px
} */


.sidebar1 {
  background: #aaa;
  /* For browsers that do not support gradients */
  padding: 0px;
  min-height: 100%;
}

.logo {
  max-height: 80px;
}

.logo > img {
  margin-top: 10px;
  padding: 5px;
  max-width: 70px;
  max-height: 70px;
}

.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}

/* .list::first-line {
    color: rgba(255, 255, 255, 0.5);
} */
.list > li, h5 {
  padding: 5px 0px 5px 40px;
}

.list > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: white;
  font-weight: bolder;
  padding-left: 35px;
}

.main-content {
  text-align: center;
}

