<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="">
      <form class="form-container">
        <div class="form-group">
          <h4 class="text-center">Password recovery</h4>
        </div>
        <div class="form-group">
          <input type="login" class="form-control" id="inputLogin" placeholder="Login">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          <a class="link" href="">Forgot password?</a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>

        </div>
        <div class="form-group">
          <label>Don't have account yet?</label>
          <button type="submit" class="btn btn-secondary btn-block" (click)="redirectToRegister()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
