select.form-control{
  margin-top: 20px;
  margin-bottom: 8px;
  /*width: 200px;*/
}
input{
  /*width: 200px;*/
}
input#input-login{
  margin-top: 10px;
}
form{
  max-width: 600px;
}
/*button{*/
/*  width: 180px;*/
/*  height: 40px;*/
/*  margin: unset;*/
/*}*/
.form-group{
}
.password{
  margin-top: 8px;
  margin-bottom: 2px;
}
h5{
  margin-bottom: 0px;
}
.form-row.justify-content-center{
 margin-bottom: 15px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

select{
  margin-bottom: 8px;
}
