<div class="container-fluid col-lg-12 col-lg-12">
  <div class="row justify-content-center">
    <div class="">
      <form class="form-container">
        <div class="form-group">
          <h4 class="text-center">Password recovery</h4>
        </div>
        <div class="form-group">
          <h5 class="text-center">User verification</h5>
          <div class="form-row justify-content-center">
            <input type="login" class="form-control" id="input-login" placeholder="Login">
          </div>
          <div class="form-row">
            <div class="col">
              <select class="form-control">
                <option *ngFor="let question of questions">{{question.question}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Answer">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <select class="form-control">
                <option *ngFor="let question of questions">{{question.question}}</option>
              </select>
            </div>
          </div>
          <div class="form-row justify-content-center">
            <div class="col">
              <input type="text" class="form-control" placeholder="Answer">
            </div>
          </div>
        </div>

        <div class="form-group">
          <h5 class="text-center">Create new password</h5>
            <input type="password" class="form-control password" id="inputPassword" placeholder="Password">
            <input type="password" class="form-control password" id="inputConfirmPassword"
                   placeholder="Confirm password">
          <div class="justify-content-center">
            <div class="row justify-content-center mt-3 mb-2">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-secondary btn-block" (click)="redirectToLogin()">Go back</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

