
.status-offline{
  color: firebrick;
}

.status-online{
  color: green;
}

.fa{
  margin-right: 3px;
}

.accept-btn{
  color: green;
  margin-bottom: 0px;
}
.decline-btn{
  color: firebrick;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

