<div>
  <div class="modal-header">
    <h5>Waiting for players...</h5>
  </div>
  <div class="modal-body">
    <table>
      <tbody>
      <tr>
        <td>1.</td>
        <td>{{game.host.username}}</td>
      </tr>
      <tr *ngIf="game.playerOne != null">
        <td>2.</td>
        <td>{{game.playerOne.username}}</td>
      </tr>
      <tr *ngIf="game.playerTwo != null">
        <td>3.</td>
        <td>{{game.playerTwo.username}}</td>
      </tr>
      <tr *ngIf="game.playerThree != null">
        <td>4.</td>
        <td>{{game.playerThree.username}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer justify-content-start">
    <button type="button" class="btn btn-outline-danger" (click)="leave()">Leave</button>
    <button type="button" class="btn btn-outline-success" (click)="redirectToMultiplayerGame()">Start</button>
  </div>
</div>
