<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="">
      <form class="form-container" [formGroup]="loginForm">
        <div class="form-group">
          <h4 class="text-center">Login</h4>
        </div>
        <div class="form-group">
          <input type="login" class="form-control" id="inputLogin" placeholder="Login" formControlName="login">
          <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger max-width: 25%">
            <div *ngIf="login.errors.required">Login is required</div>
          <!---  <div *ngIf="login.errors.minlength">Name must be at least 4 characters long</div> !-->
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required" class="alert alert-danger">Password is required</div>
            <!-- <div *ngIf="password.errors.required">Name is required</div>
          Na obecna chwile nie moge ogarnac zeby nie powiekszalo sie formularz gdy wystapi ponizszy blad takze komentuje
              <div *ngIf="password.errors.minlength">Password is too short</div>
            </div> !-->
            <a class="link" (click)="redirectToPasswordRecovery()">Forgot password?</a>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" (click)="submit()" [disabled]="!loginForm.valid">Login</button>
            <!--   <button type="button" class="btn btn-primary btn-block" (click)="redirectToMenu()">Skip to menu</button>!-->
          </div>
          <div class="form-group">
            <label>Don't have account yet?</label>
            <button type="button" class="btn btn-secondary btn-block" (click)="redirectToRegister()">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
