.sidebar {
  background-color: #d3d3d3;
  height: fit-content;
  width: 200px;
  border-bottom-right-radius: 10px;
}
.profile {
  padding: 5px;
  border-bottom: grey;
  box-shadow: 0px 2px 1px 0px darkslategrey;
  background-color: #17a2b8;
}
.avatar {
  max-height: 80px;
}
.avatar>img {
  margin-right: 5px;
  padding: 0px;
  max-width: 90px;
  max-height: 90px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #000;
}

.container{
  width: 200px;
  padding: unset;
  margin: unset;
}

.user-info {
  background: inherit;
  margin-top: 10px;
  margin-right: 5px;
  color: #fff;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}

li:hover,
li:active,
li:focus,
li.btn.active{
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: black;
  background-color: #E9ECEF;
  font-weight: bolder;
}
.main-content{
   text-align:center;
 }

.page-content {
  min-width: available;
  padding: 0px 0px;
}

li{
  width: 200px;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #111111;
}

ul.nav-tabs {
  margin-left: unset;
  padding: unset;
  margin-bottom: 10px;
  border-color: #d3d3d3;
}
