.sidebar {
  background: #aaaaaa;
  /* For browsers that do not support gradients */
  padding: 0px;
  min-height: 100%;
}
.avatar {
  max-height: 80px;
}
.avatar>img {
  margin: 10px;
  padding: 0px;
  max-width: 90px;
  max-height: 90px;
}
.user-info {
  background: #aaaaaa;
  margin-top: 10px;
  margin-right: 5px;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}
/* .list::first-line {
    color: rgba(255, 255, 255, 0.5);
} */
.list> li, h5 {
  padding: 5px 0px 5px 40px;
}
.list>li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: white;
  font-weight: bolder;
  padding-left: 35px;
}.main-content{
   text-align:center;
 }
