<div *ngIf="message">{{message}}</div>
<div *ngIf="dataLoaded">
  <div class="container-fluid h-100">
    <div class="row">

      <!-- Sidebar menu -->
      <!--TODO responsiveness, hide sidebar on sm-->
      <div class="sidebar sticky-top">
        <div class="profile media">
          <div class="avatar">
            <img src="assets/img/avatar.png" class="img-responsive center-block" alt="Logo">
          </div>
          <div class="media-body user-info">
            <h6 class="username">{{user.username}}</h6>
            <h6 class="points1">{{maxScore}}</h6>
            <h6 class="points2">RP</h6>
          </div>
        </div>
        <br><br>
        <nav class="left-navigation">
          <ul class="nav nav-tabs navbar-nav">
            <li class="btn" type="button" [ngClass]="{'active': action === 'game'}" (click)="redirectTo('game')">Singleplayer</li>
            <li class="btn" type="button" [ngClass]="{'active': action === 'waitingRoom'}" (click)="redirectTo('waitingRoom')" >Multiplayer</li>
            <li class="btn" type="button" [ngClass]="{'active': action === 'friends'}" (click)="redirectTo('friends')" >Friends</li>
            <li class="btn" type="button" [ngClass]="{'active': action === 'rankings'}" (click)="redirectTo('rankings')">Rankings</li>
            <li class="btn" type="button" [ngClass]="{'active': action === 'stats'}" (click)="redirectTo('stats')">Stats</li>
            <li class="btn" type="button" [ngClass]="{'active': action === 'setting'}" (click)="redirectTo('setting')">Settings</li>
            <li class="btn" type="button">Log out</li>
          </ul>
        </nav>
      </div>

      <!-- Pages content -->
      <div class="page-content col">
        <app-board *ngIf="action === 'game' || action == null" [user] = "user"></app-board>
        <app-waiting-room *ngIf="action === 'waitingRoom'"></app-waiting-room>
        <app-friends *ngIf="action === 'friends'" [user] = "user"></app-friends>
        <app-rankings *ngIf="action === 'rankings'"></app-rankings>
        <app-settings *ngIf="action === 'setting'"></app-settings>
        <app-stats *ngIf="action === 'stats'" [favourite]="statsFavourite"></app-stats>
      </div>
    </div>
  </div>
</div>
