<div class="container-fluid h-100">
  <div class="row">

<!-- Sidebar menu -->
    <!--TODO responsiveness, hide sidebar on sm-->
    <div class="sidebar ">
      <div class="profile media">
        <div class="avatar">
          <img src="assets/img/avatar.png" class="img-responsive center-block" alt="Logo">
        </div>
        <div class="media-body user-info">
          <h6 class="username">{{user.name}}</h6>
          <h6 class="points1">{{user.points}}</h6>
          <h6 class="points2">321</h6>
        </div>
      </div>
      <br><br>
        <div class="left-navigation">
          <ul class="list">
            <li type="button" (click)="action = null">Singleplayer</li>
            <li type="button">Multiplayer</li>
            <li type="button" (click)="redirectTo('rankings')">Rankings</li>
            <li type="button" (click)="redirectTo('stats')">Stats</li>
            <li type="button" (click)="redirectTo('setting')">Settings</li>
            <li type="button">Log out</li>
          </ul>
        </div>
    </div>

<!-- Pages content -->
    <div class="page-content col">
      <app-board *ngIf="action == null"></app-board>
      <app-rankings *ngIf="action === 'rankings'"></app-rankings>
      <app-settings *ngIf="action === 'setting'"></app-settings>
      <app-stats *ngIf="action === 'stats'"></app-stats>
    </div>
  </div>
</div>
