.sidebar {
  background: #aaaaaa;
  padding: 0px;
  min-height: 100%;
}
.profile {
  padding: 5px;
  border-bottom: grey;
  box-shadow: 0px 2px 1px 0px #555555;
}
.avatar {
  max-height: 80px;
}
.avatar>img {
  margin-right: 5px;
  padding: 0px;
  max-width: 90px;
  max-height: 90px;
}
.user-info {
  background: #aaaaaa;
  margin-top: 10px;
  margin-right: 5px;
  color: #555555;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}
.list> li, h5 {
  padding: 5px 0px 5px 20px;
}
.list>li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid white;
  color: white;
  font-weight: bolder;
  padding-left: 35px;
}
.main-content{
   text-align:center;
 }
.btn {
  color: white;
}
.page-content {
  min-width: available;
}
