.form-container{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #000;
  margin-top: 30px;
}
{
  font-family: 'Press Start 2P', cursive;
}

nav.navbar {
  background: lightgray;
  padding-bottom: 0px;
}

a.nav-link.active {
  background: #E9ECEF;
  padding-bottom: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
