<div class="singleContainer mx-auto">
  <div class="row justify-content-md-center mt-2">
<div class="col">
  <canvas #current class="current"></canvas>
</div>
  <div class="col-1">
  <canvas #next class="next"></canvas>
</div>
  </div>

<div class="grid">
  <canvas #board class="game-board"></canvas>
</div>

    <div class="row ml-3">Score: {{ points }}</div>
    <div class="row ml-3" >Lines: {{ lines }}</div>
    <div class="row ml-3">Level: {{ level }}</div>

  <button (click)="play()" class="play-button">Play</button>

</div>
