canvas{
  box-shadow: 0px 0px 3px 0px #000;
}

.next{
  border: solid 1px;
  border-radius: 5px;
}
/*.col.justify-content-end{*/
/* margin: 0px;*/
/*  padding: 0px 0px;*/
/*}*/
.current{
  border: solid 1px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
.bottom{


}
.singleContainer{
  width: 120px;
}
.p{
  margin-bottom: 0;
  padding: 0;
}
.top{
  display: inline-block;
}
.grid {
  margin-top: 3px;
  display: grid;
  grid-template-columns: 320px 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 0px;
  border-radius: 4px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0px #000;
}
