<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="">
      <form class="form-container">
        <div class="form-group">
          <h4>Create new account</h4>
        </div>
        <div class="form-group">
          <input type="login" class="form-control" id="inputLogin" placeholder="Login">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputConfirmPassword"
                 placeholder="Confirm password">
        </div>
        <div class="form-group">
          <h5 data-toggle="tooltip" data-placement="right" title="it will help you if you forget your password">Security questions</h5>
          <p>Select and two questions<br /> and answer</p>
          <div class="form-group">
            <select class="form-control">
              <option *ngFor="let question of questions |  keyvalue">{{question.value}}</option>
            </select>
            <input type="text" class="form-control" placeholder="Answer">
          </div>
          <div class="form-group">
            <select class="form-control">
              <option *ngFor="let question of questions |  keyvalue">{{question.value}}</option>
            </select>
            <input type="text" class="form-control" placeholder="Answer">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <div class="form-group">
          <label>You already have an account?</label>
          <button type="submit" class="btn btn-secondary btn-block" (click)="redirectToLogin()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
