<div *ngIf="message">{{message}}</div>
<div *ngIf="dataLoaded">
  <!--  Top navbar  -->
  <nav class="navbar navbar-expand-md navbar-light sticky-top">

    <!--  TODO: fix collapsing   -->
    <button class="navbar-toggler" data-toggler="collapse" data-target="#collapse_target">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#ranking-today" data-toggle="tab" (click)="changeBookmark('Today')">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ranking-week" data-toggle="tab" (click)="changeBookmark('Week')">Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ranking-month" data-toggle="tab" (click)="changeBookmark('Month')">Month</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ranking-general" data-toggle="tab" (click)="changeBookmark('General')">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ranking-scores" data-toggle="tab" (click)="changeBookmark('Ranking Points')">Ranking Points</a>
        </li>
      </ul>
    </div>
    <form class="form-inline" [formGroup]="pointsForm">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="inputName">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchUser()"
              [disabled]="inputName.invalid">Search</button>
    </form>
  </nav>

  <!--  ranking tables  -->
  <div class="tab-content">

    <div class="tab-pane active" id="ranking-today">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Nick</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bestScore of bestScores; let indexOfElement = index"
            [ngClass]="{'alert alert-success': isSearching && indexOfElement === 0}">
          <th scope="row">{{indexOfElement + 1}}</th>
          <td>{{bestScore.user.username}}</td>
          <td>{{bestScore.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="ranking-week">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Nick</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bestScore of bestScores; let indexOfElement = index"
            [ngClass]="{'alert alert-success': isSearching && indexOfElement === 0}">
          <th scope="row">{{indexOfElement + 1}}</th>
          <td>{{bestScore.user.username}}</td>
          <td>{{bestScore.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="ranking-month">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Nick</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bestScore of bestScores; let indexOfElement = index"
            [ngClass]="{'alert alert-success': isSearching && indexOfElement === 0}">
          <th scope="row">{{indexOfElement + 1}}</th>
          <td>{{bestScore.user.username}}</td>
          <td>{{bestScore.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ranking-general">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Nick</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bestScore of bestScores; let indexOfElement = index"
            [ngClass]="{'alert alert-success': isSearching && indexOfElement === 0}">
          <th scope="row">{{indexOfElement + 1}}</th>
          <td>{{bestScore.user.username}}</td>
          <td>{{bestScore.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="ranking-scores">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Nick</th>
          <th scope="col">Ranking Points</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rankingPoint of bestRankingPoints; let indexOfElement = index"
            [ngClass]="{'alert alert-success': isSearching && indexOfElement === 0}">
          <th scope="row">{{indexOfElement + 1}}</th>
          <td>{{rankingPoint.user.username}}</td>
          <td>RP{{rankingPoint.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="shortage" style="text-align:center" >{{shortage}}</div>
  </div>
</div>
